<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="team" class="team-area section-padding">    
	<div class="container">
		<div class="section-title text-center">
			<h2>Creative team</h2>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
		</div>				
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="our-team">
					<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
					<div class="team-content">
						<h3 class="title">Marina Mojo</h3>
						<span class="post">Developer</span>							
						<ul class="social">
							<li><a class="fa fa-facebook" href="#"></a></li>
							<li><a class="fa fa-twitter" href="#"></a></li>
							<li><a class="fa fa-youtube" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="our-team">
					<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
					<div class="team-content">
						<h3 class="title">Ayoub Fennouni</h3>
						<span class="post">Logo Expert</span>							
						<ul class="social">
							<li><a class="fa fa-facebook" href="#"></a></li>
							<li><a class="fa fa-twitter" href="#"></a></li>
							<li><a class="fa fa-youtube" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
				<div class="our-team">
					<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
					<div class="team-content">
						<h3 class="title">Mark Linomi</h3>
						<span class="post">Marketer</span>							
						<ul class="social">
							<li><a class="fa fa-facebook" href="#"></a></li>
							<li><a class="fa fa-twitter" href="#"></a></li>
							<li><a class="fa fa-youtube" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
				<div class="our-team">
					<img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
					<div class="team-content">
						<h3 class="title">Amira Yerden</h3>
						<span class="post">UI/UX Designer</span>							
						<ul class="social">
							<li><a class="fa fa-facebook" href="#"></a></li>
							<li><a class="fa fa-twitter" href="#"></a></li>
							<li><a class="fa fa-youtube" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>